body{
    background-color: rgb(33, 58, 33);

}
.naglowek{
    border: solid rgb(43, 142, 241) 5px;
}
.rozpiernicz{
    color:rgb(218, 191, 191);
    border: solid rgb(255, 251, 0) 5px;
    border-radius: 20px;
}
main p{
    background-color:pink;
    width:fit-content;
    font-size:large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main h2{
    background-color:rgb(87, 33, 12);
    width:fit-content;
}